:root {
    --primary-color: #FF5D3C;
    --primary-color-dark: orangered;
    
    --default-font-size: 1.5rem;
    --large-font-size: 1.7rem;
    --xlarge-font-size: 1.9rem;
    --small-font-size: 1.3rem;
    --xsmall-font-size: 1.1rem;
}

/* ---------------------------------------------------
    BASE STYLES
--------------------------------------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    user-select: none;
}

html {
    /* This defines what 1rem is | 62.5% = 10px (browser default: 16px) */
    font-size: 62.5%; /* 1 rem = 10px; */
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    min-height: 100vh;
    font-size: var(--default-font-size);
    font-family: 'Poppins', sans-serif;
    color: #444;
    background-color: #EAECF0;
    position: relative;
}
input {
    border: none;
}
input:focus {
    outline: none;
    border-bottom: none;
}

/* ---------------------------------------------------
    PAGE WRAP
--------------------------------------------------- */
.page-wrap {
    width: 115rem;
    height: 65rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------
    FORM SIDE
--------------------------------------------------- */
.form-side {
    box-sizing: border-box;
    height: 100%;
    flex: 4;
    position: relative;
    background: white;
}
.form-side .wrapper {
    padding: 8.5rem 10.5rem;
}
.form-side .logo {
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    position: relative;
}
.form-side .logo div:nth-child(1) {
    width: 4rem;
    height: 3px;
    /* background-color: var(--primary-color); */
    background-image: linear-gradient(to right, 
        var(--primary-color) 0%, var(--primary-color) 35%, 
        transparent 35%, transparent 65%, 
        var(--primary-color) 65%, var(--primary-color) 100%
    );
    border-radius: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-side .logo div:nth-child(1)::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 4rem;
    position: absolute;
    top: -.85rem;
}
.form-side .logo div:nth-child(1)::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 4rem;
    position: absolute;
    bottom: -.8rem;
}
.form-side .logo div:nth-child(2) {
    height: 1rem;
    width: 3px;
    background-color: var(--primary-color);
    border-radius: 4rem;
    position: absolute;
    top: 2.3rem;
    left: 50%;
    transform: translateX(-50%);
}
/* .form-side .logo div:nth-child(1) {
    width: 5rem;
    height: 2rem;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.form-side .heading {
    width: 100%;
    margin-top: 6.5rem;
    text-align: center;
    color: #bbbbc7;
    font-weight: 300;
    font-size: 2rem;
}
.form-side form {
    margin-top: 5rem;
}
.form-side .icon {
    color: var(--primary-color);
    margin-right: 1.5rem;
    font-size: 1.8rem;
}
.form-side form div:nth-child(1),
.form-side form div:nth-child(2) {
    margin-top: 3.5rem;
    display: flex;
}
.form-side .username {
    position: relative;
}
.form-side .username:before {
    content: "";
    position: absolute;
    bottom: -1.75rem;
    height: 1px;
    width: 100%;
    background-color: #bbbbc7;
    opacity: .2;
}
.form-side .username input,
.form-side .password input { 
    font-size: 1.6rem;
    font-weight: 300;
    color: #444;
}
.form-side .username input::placeholder,
.form-side .password input::placeholder { 
    opacity: 0.7;
}

.form-side .button {
    position: relative;
    margin-top: 7rem;
}
.form-side .button .icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
}
.form-side button,
.form-side button:link,
.form-side button:visited {
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: var(--primary-color);
    transition: all .4s;
    border: none;
    cursor: pointer;
}
.form-side button:hover,
.form-side button:focus {
    background-color: var(--primary-color-dark);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    outline: none;
    border: none;
}

/* ---------------------------------------------------
    IMAGE SIDE
--------------------------------------------------- */
.image-side {
    height: 100%;
    flex: 7;
    position: relative;
    background: linear-gradient( rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) ), url('./imgs/accounting-application-business-1483938.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

.image-side span {
    font-size: 3.6rem;
    line-height: 5rem;
    font-weight: 200;
    color: #fff;
    width: 40rem;
    position: absolute;
    bottom: 22rem;
    left: 12rem;
}
@media only screen and (max-width: 1200px) {
    .page-wrap {
        width: 42rem;
    }
    .image-side {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    html {
        font-size: 55%;
    }
    .page-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    .form-side .wrapper {
        width: 30rem;
        margin: 0 auto;
        padding: 4rem;
    }
    .form-side .heading {
        margin-top: 4rem;
    }
    .form-side form {
        margin-top: 4rem;
    }
}