/* ---------------------------------------------------
    CSS VARIABLES
--------------------------------------------------- */
:root {
    --primary-color: #FF8779;
    --primary-color-dark: #F36161;

    /* --secondary-light: #1F2E45;
    --secondary-dark: #1C293F;

    --tertiary-light: #1F2E45;
    --tertiary-dark: #1C293F; */
    
    --default-font-size: 1.5rem;
    --large-font-size: 1.7rem;
    --xlarge-font-size: 1.9rem;
    --small-font-size: 1.3rem;
    --xsmall-font-size: 1.1rem;

    --grey-font-color: #555;
    --light-grey-font-color: #777;
    --dark-grey-font-color: #444;
}

/* ---------------------------------------------------
    BASE STYLES
--------------------------------------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    user-select: none;
}

html {
    /* This defines what 1rem is | 62.5% = 10px (browser default: 16px) */
    font-size: 62.5%; /* 1 rem = 10px; */
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    min-height: 100vh;
    color: #fff;
    font-size: var(--default-font-size);
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-color-dark));
    position: relative;
}

input {
    border: none;
}
input:focus {
    outline: none;
    border-bottom: none;
}
button,
button:link,
button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    transition: all .2s;

    border: none;
    cursor: pointer;
}

/* ---------------------------------------------------
    PAGE STYLES
--------------------------------------------------- */
.page-wrap {
    width: 100rem;
    margin: 0 auto;
}
.page-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 53rem;
}

/* ---------------------------------------------------
    NAVBAR
--------------------------------------------------- */
.navbar {
    padding: 5rem 0 15rem 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.navbar .title {
    text-transform: uppercase;
}
.navbar .subtitle {
    position: relative;
    font-weight: 100;
    padding-right: 6rem;
}
.navbar .subtitle::before {
    content: "";
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    height: 1px;
    width: 3rem;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar .action {
    font-size: 1.8rem;
    font-weight: 400;
}

/* ---------------------------------------------------
    WELCOME TEXT
--------------------------------------------------- */
.welcome-text {
    position: relative;
    width: 45rem;
    margin-top: 5rem;
    color: #fff;
    font-size: 5rem;
    line-height: 7rem;
    font-weight: 200;
}
@media only screen and (max-width: 880px) {
    .welcome-text { display: none; }
}

/* ---------------------------------------------------
    SIGNUP
--------------------------------------------------- */
.signup {
    position: relative;
}
.terms {
    position: absolute;
    top: 48rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 1.2rem;
}
.page-content.confirm .signup-form {
    opacity: .2;
    transform: translateY(-5rem) scale(0.85);
}
.page-content.confirm .signup-confirm {
    z-index: 100;
    opacity: 1;
    transform: translateY(-43rem);
}
.page-content.confirm .terms {
    display: none;
}
.page-content.confirm .greeting,
.page-content .welcome {
    display: inline;
}
.page-content.confirm .welcome,
.page-content .greeting {
    display: none;
}
/* ---------------------------------------------------
    SIGNUP FORM
--------------------------------------------------- */
.signup-form {
    width: 30rem;
    padding: 5rem 5rem 4rem 5rem;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: all .5s ease-in;
}
.signup-form form > * {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    position: relative;
}
.signup-form .icon {
    color: var(--primary-color-dark);
    align-self: center;
    font-size: 1.8rem;
    padding-right: .5rem;
}
.signup-form input {
    flex-grow: 1;
    height: 5rem;
    font-size: 1.4rem;
    font-weight: 100;
    color: #555;
    padding-left: .5rem;
}
.signup-form input::placeholder {
    color:#aaaaaa;
}
.signup-form input:focus::placeholder {
    color:#d1cad1;
}
.signup-form .underline::before {
    content: "";
    position: absolute;
    bottom: -.4rem;
    width: 100%;
    height: 1px;
    background-color: #dadada;
    transition: all .2s ease-in;
}
.signup-form .underline:focus-within::before {
    transform: scaleX(1.1);
    background: var(--primary-color-dark);
}

.signup-form .submit {
    justify-content: flex-end;
    margin-bottom: 0;
}
.signup-form .submit button {
    align-self: right;
    margin-top: 2rem;
    padding: 1.7rem 5rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    transition: all .2s ease-in;
    background: var(--primary-color-dark);
    background-image: linear-gradient(
        to right,
        var(--primary-color-dark),
        var(--primary-color)
    );
}

.signup-form .submit button:hover,
.signup-form .submit button:focus,
.signup-form .submit button:active {
    transform: scale(0.99);
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    border: none;
    outline: 0;
}

/* ---------------------------------------------------
    SIGNUP CONFIRMATION
--------------------------------------------------- */
.signup-confirm {
    width: 30rem;
    padding: 9rem 5rem 7rem 5rem;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: -1;
    opacity: .2;
    transform: translateY(-42rem) scale(.85);
    transition: all .5s ease-in;
}
.signup-confirm .title {
    padding: 3rem 0;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
}
.signup-confirm .message {
    font-size: 1.7rem;
    line-height: 3rem;
    font-weight: 400;
}
.signup-confirm .email {
    padding: 2rem 0;
    font-weight: 600;
    font-size: 1.7rem;
    color: var(--primary-color-dark);
}
.signup-confirm .note {
    padding-top: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #696969;
}

/* ---------------------------------------------------
    Circles
--------------------------------------------------- */
.circles {
    position: fixed;
}
.circle-left::before {
    content: "";
    position: absolute;
    top: -3rem;
    left: -10rem;
    height: 21rem;
    width: 21rem;
    border-radius: 50%;
    background-color: rgba(255,255,255,.05);
}
.circle-right::before {
    content: "";
    position: absolute;
    top: 18rem;
    left: 3rem;
    height: 60rem;
    width: 60rem;
    border-radius: 50%;
    background-color: rgba(255,255,255,.05);
}
.signup-form::before {
    content: "";
    position: absolute;
    bottom: -19rem;
    right: -10rem;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    background-color: rgba(200, 150, 200, .08);
}
.signup-confirm::before {
    content: "";
    position: absolute;
    bottom: -19rem;
    right: -10rem;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    background-color: rgba(200, 150, 200, .08);
}
.signup-confirm::after {
    content: "";
    position: absolute;
    top: -6rem;
    left: -3rem;
    height: 25rem;
    width: 18rem;
    transform: rotate(45deg);
    border-radius: 50%;
    background: transparent;
    border: 3rem solid rgba(243,97,97,.1);
    border-right: 2.5rem solid rgba(243,97,97,.1);
    border-bottom: 1rem solid rgba(243,97,97,.1);
}

/* ---------------------------------------------------
    MOBILE VIEWS
--------------------------------------------------- */
@media only screen and (max-width: 1100px) {
    .page-wrap { width: 80rem; }
}
@media only screen and (max-width: 880px) {
    .page-wrap { width: 40rem; }
    .welcome-text { display: none; }
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 5rem 0 3rem 0;
    }
}

@media only screen and (max-width: 400px) {
    html { font-size: 50%; }
    .page-wrap { width: 30rem; }
    .signup-form { width: 20rem; }
    .signup-confirm { 
        width: 20rem;
        transform: translateY(-46rem) scale(.85);
    }
}
